section, footer{
  padding: 60px 30px;
}
.white{
  background-color: white;
}
.blue{
  background-color: blue;
  color: white;
}
.navbar{
  margin-bottom: 0;
}
.grey{
  background-color:lightgrey;
}
.col-md-2 img, .col-md-6 img{
  width: 100%;
}
.bscuro{
  background-color: #031b4e;
  color: white;
}
.black{
  background-color: black;
  color: white;
}
.mb-30{
  margin-bottom: 30px;
}
.mt-60{
  margin-top: 60px;
}
.blue .col-md-4 h2,.blue .col-md-4 p{
  color: black;
}
.blue .col-md-4{
  border-radius: 1%;
}
.blue .col-md-4 p{
  font-size: 10px;
}
.jumbotron{
  background-color: blue;
}
.white .col-md-6 p,.white .col-md-12 p, .white .col-md-4 p{
  color: grey;
}
a:hover {
  text-decoration:none;
}
footer .col-md-2 ul, .col-md-4 ul{
  padding-inline-start: 0;
}
footer .col-md-4 li{
  display: inline-block;
  padding-left: 10px;
}
footer .col-md-4 ul li:first-child {
  padding-left: 0px;
}
footer .col-md-2 li{
  display: block;
}
footer .fab{
  color: white;
}
