section{
  padding: 60px 30px;
}
.white{
  background-color: white;
}
.blue{
  background-color: blue;
}
.navbar{
  margin-bottom: 0;
}
.grey{
  background-color:lightgrey;
}
.col-md-2 img, .col-md-6 img{
  width: 100%;
}
.bscuro{
  background-color: #031b4e;
  color: white;
}
